<div class="row">
  <div id="header" class="col-md-12" style="background-color: #3F3640">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner">

        <div class="carousel-item active " alt="First slide">
          <h1 class="headerText">Bespoke Web Design & Development...</h1>
        </div>
        <div class="carousel-item" alt="Second slide">
          <h1 class="headerText">Professional designs, affordable prices!</h1>
        </div>
        <div class="carousel-item" alt="Third slide">
          <h1 class="headerText">Join our satisifed client base.</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-12" style="background-color: #3F3640">
    <div class="row">
      <div class="col-md-4 offset-md-2 mt-5 wow fadeInUp">
        <div id="about"></div>
        <h1>
          <u>W</u>ELCOME</h1>
        <br>
        <br>
        <p>
          Hi, I'm Lewis, a FullStack JavaScript Developer...
          <br>
          <br> With several years of experience in the industry I provide a high dose of professional web solutions at competitive
          prices. I have developed many projects for small businesses, music groups and larger industries. My objectives
          are to develop bold and outstanding projects to fit your exact requirements. I'm highly professional and communicative,
          always delivering on time with a guarantee of 100% client satisfaction and project quality.
          <br>
          <br> What I Do ? I have been working as a freelance web developer for several years, I am dedicated to my profession,
          bringing artistic concepts to life through the medium of code. I excel at learning new technologies, and better
          approaches to projects, to deliver a project to a client, exceeding their expectations. I'm honest, responsible
          and always ready to take on a new challenge.</p>


        <a href="../../../assets/img/cv.pdf" target="_blank">
          <button class="btn mb-4" style="margin-top: 5%; background-color:#EDEDED ">Download Resume</button>
        </a>

      </div>
      <div class="col-md-4 mt-5 wow fadeInUp">
        <img style="width: 75%; margin: 0px 50px" src="../../../assets/img/lew.png">
      </div>
    </div>
  </div>
</div>

<div class="row" style="background-color: #EDEDED; height: 33% !important;">
  <div class="col-md-12 mx-auto">
    <div id="services"></div>
    <h1 class="center mt-5 mx-auto">
      SERVICES</h1>
  </div>
</div>

<div class="row" style="background-color: #EDEDED;">
  <div class="col-md-3 mr-auto ml-auto mt-5  wow fadeInLeft" data-wow-delay="0.4s">
    <img class="imgCenter" src="../../../assets/img/coding.svg">
    <h4>Web Design & Build</h4>
    <p style="color: grey;">With several years of experience in the industry I can bring your thoughts to life. I am dedicated and passionate about
      your designs. Using the latest technology and hardware, I can provide an affordable service, with stunning results.</p>
  </div>
  <div class="col-md-3 mx-auto mt-5  wow fadeInLeft" data-wow-delay="0.4s">
    <img class="imgCenter" src="../../../assets/img/smartphone.svg">
    <h4>Mobile Optimisation</h4>
    <p style="color: grey;">Over 70% of all websites are visited from a mobile device as of 2018. I am able to bring your website into the future
      with a mobile optimisation package, maintaning your design whilst making it accessable for devices.</p>
  </div>
  <div class="col-md-3 mt-5 ml-auto mr-auto  wow fadeInLeft" data-wow-delay="0.4s">
    <img class="imgCenter" src="../../../assets/img/blog.svg">
    <h4>Blog Development</h4>
    <p style="color: grey;">When information is needed, the first place that is visited is the internet. I can create a blog with a custom web portal
      so you can keep your clients up to date on your latest ventures.</p>
  </div>
</div>

<div class="row pt-3" style="background-color: #EDEDED; height: 33% !important;">

  <div class="col-md-3 mr-auto ml-auto mt-3  wow fadeInRight" data-wow-delay="0.4s">
    <img class="imgCenter" src="../../../assets/img/new.svg">
    <h4>Partial Re-Design</h4>
    <p style="color: grey;">Happy with your website? only want to change some fonts or colours? I can make those changes for you. Maintaining your
      websites build, style and functionality. Making requested adjustments for cost effective pricing.</p>
  </div>
  <div class="col-md-3 mx-auto mt-3 wow fadeInRight" data-wow-delay="0.4s">
    <img class="imgCenter" src="../../../assets/img/analytics.svg">
    <h4>SEO Optimisation</h4>
    <p style="color: grey;">We are in a digital age. When you want a service, the first thing done is to search the internet. I can provide marketing
      techniques to your existing website, to make you more findable in a search. Making sure you get the business you deserve.</p>
  </div>
  <div class="col-md-3 mt-3 ml-auto mr-auto wow fadeInRight" data-wow-delay="0.4s">
    <img class="imgCenter" src="../../../assets/img/geometry.svg">
    <h4>Branding</h4>
    <p style="color: grey;">With several years in the industry, I have an extensive contact list of graphic designers and artists. Put a request
      in and we can provide you the artistic designs you need for competative pricing.</p>
  </div>

</div>
<div id="information" style="text-align: center; background-color: #3F3640" class="row mb-4">
  <div class="col-md-4 mt-5 wow zoomIn" data-wow-delay="0.4s">
    <img id="hourglass" class="mb-3" src="../../../assets/img/calendar.svg">
    <br>
    <h3 style="color: #EDEDED">2+</h3>

    <h4 style="color: #EDEDED">Years of Experience</h4>
  </div>
  <div class="col-md-4 mt-5 wow zoomIn" data-wow-delay="0.4s">
    <img class="mb-3" src="../../../assets/img/browser.svg">
    <br>
    <h3 style="color: #EDEDED">21+</h3>

    <h4 style="color: #EDEDED">Contracts completed</h4>
  </div>
  <div class="col-md-4 mt-5 wow zoomIn" data-wow-delay="0.4s">
    <img class="mb-3" src="../../../assets/img/nerd.svg">
    <br>
    <h3 style="color: #EDEDED">100%</h3>

    <h4 style="color: #EDEDED">Client Satisfaction</h4>
  </div>
</div>

<div class="row pt-3" style="background-color: #EDEDED">
  <div class="col-md-6 mx-auto">
    <div id="testimonials"></div>
    <h2 style="color: #3F3640; font-size: 51px; text-align: center">TESTIMONIALS</h2>
    <hr>
  </div>
</div>

<div class="row pb-5" style="background-color: #EDEDED; width: 100%;">

  <div class="col-md-3  mx-auto wow slideInRight" data-wow-delay="0.4s">
    <div class="card" style="width: 100%;">
      <img class="card-img-top mt-3" src="../../../assets/img/Tessi.jpg" style="width: 55%; margin: 0 auto; border-radius: 5px;">
      <div class="card-body">
        <h5 class="card-title">Rachel Evans</h5>
        <p class="card-text">"Fantastic experience, I was worried about starting my own business, Lewis made the process very easy and delivered"
          100%. Highly recommend
          <br>
          <b>5/5 stars!</b>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3 mx-auto wow slideInLeft" data-wow-delay="0.4s">
    <div class="card" style="width: 100%;">
      <img class="card-img-top mt-3" src="../../../assets/img/fellows.jpg" style="width: 55%; margin: 0 auto; border-radius: 5px;">
      <div class="card-body">
        <h5 class="card-title">Andrew Fellows</h5>
        <p class="card-text">"Lewis is a very professional and highly skilled developer. He kept me updated every step of the way. I didn't know
          exactly what I wanted, Lewis was able to create a stunning design from nothing"
          <br>
          <b>5/5 stars!</b>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row" style="background-color: #723F3C">
  <div class="col-md-12">
    <div id="recent"></div>
    <h2 style="color: #EDEDED" class="center">RECENT PROJECTS</h2>
  </div>
</div>
<div class="row" style="background-color: #723F3C">
  <div class="col-md-3 mx-auto wow bounceInRight" data-wow-delay="0.4s">
    <a href="https://jotterv2.herokuapp.com/" target="_blank">
      <div class="card" style="width: 100%;">
        <img class="card-img-topAlt mt-3" src="../../../assets/img/jotter.png" style="width: 55%; margin: 0 auto; border-radius: 5px;">
        <div class="card-body">
          <h5 class="card-title white">Jotter</h5>
          <p class="card-text white">A personal note taking web application. Register an account to gain access to your private webspace and start jotting
            down your thoughts!
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-3 mx-auto wow bounceInLeft" data-wow-delay="0.4s">
    <a href="https://contentmanagement-jws.herokuapp.com/" target="_blank">
    <div class="card" style="width: 100%;">
      <img class="card-img-topAlt mt-3" src="../../../assets/img/lewcms.png" style="width: 55%; margin: 0 auto; border-radius: 5px;">
      <div class="card-body" style="color: white">
        <h5 class="card-title white">Content Management</h5>
        <p class="card-text white">A custom content management system, in early alpha stages. Once completed will be shipped with all developments,
          allowing users administrative privilages to their website, blog content, ecommerce etc.
        </p>
      </div>
    </div>
    </a>
  </div>
    <div class="col-md-3 mx-auto wow bounceInUp" data-wow-delay="0.4s">
    <a href="https://gameshorts.herokuapp.com/about" target="_blank">
    <div class="card" style="width: 100%;">
      <img class="card-img-topAlt mt-3" src="../../../assets/img/play-button.svg" style="width: 55%; margin: 0 auto; border-radius: 5px;">
      <div class="card-body" style="color: white">
        <h5 class="card-title white">Game Shorts [Alpha Release]</h5>
        <p class="card-text white">A custom video based application. Users can upload their favourite gaming clips, to share with friends and the world! Register an account and starting sharing your memories now!
        </p>
      </div>
    </div>
    </a>
  </div>
</div>

<div class="row mb-4" style="background-color: #3F3640">
  <div class="col-md-12 wow fadeInUp" data-wow-delay="0.4s">
    <br>
    <div id="contact"></div>
    <h2 style="color: #EDEDED" class="center">GET IN TOUCH</h2>
  </div>

</div>
<div class="row">

  <div id="frmContact" class="col-md-6 mx-auto wow fadeInUp" data-wow-delay="0.4s">
    <flash-messages></flash-messages>
    <div>
      <div class="form-group">
        <label for="email">Your Email * </label>
        <input [(ngModel)]="email" name="email" type="email" class="form-control" id="userEmail" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">I'll never share your email.</small>
      </div>
      <div class="form-group">
        <label for="userName">Your Name *</label>
        <input [(ngModel)]="name" name="name" type="text" class="form-control" id="userName">
      </div>
      <div class="form-group">
        <label for="subject">Subject *</label>
        <input [(ngModel)]="subject" name="subject" type="text" class="form-control" id="subject">
      </div>
      <div class="form-group">
        <label for="content">Your Message *</label>
        <textarea [(ngModel)]="message" name="message" class="form-control" id="content" rows="5"></textarea>
      </div>
      <button (click)="sendEmail((email), (name), (subject), (message))" type="submit" name="submit" class="form-control btn  btnAction"
        style="background-color: rgb(92, 79, 94)">
        <span style="color: white;">Submit</span>
      </button>
    </div>
    <br>
    <br>
  </div>
  <div style="opacity: 0.7;" class="col-md-12 mx-auto map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4172.698674079684!2d-3.7017051892004265!3d51.548038234110734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486e68a9cb906757%3A0x733a358fc974ed8!2sCwrt+Y+Carw%2C+Port+Talbot+SA13+2TS!5e0!3m2!1sen!2suk!4v1519402974844"
      width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
